<section class="busca input-container ">
    <form>
      <label for="busca">Busque por artistas, albuns ou musicas</label>
      <input type="text" id="busca" name="busca" type="text" [formControl]="query" autocomplete="off" placeholder="Comece a escrever..."> 
    </form>
  </section>
  <section class="resultado" *ngIf="query.value" >

    <div  class="titulo-destaque"  *ngIf="result?.albums?.items.length > 0" >
      Resultados encontrados para "{{query.value}}"
    </div>
    <div class="resultado-pesquisa" *ngIf="result.albums && result.albums.items.length > 0">
        <div class="card"  routerLinkActive="active" (click)="navegar(item.id)" *ngFor="let item of result.albums.items">
            
                <div class="card-imagem">
                  <img src="{{item.images[0].url}}" alt="">
                </div>
                <div class="card-info">
                   <div class="card-titulo">
                    {{item.name.toLowerCase()}}
                  </div>
                  <div class="card-artista">
                    {{item.artists[0].name.toLowerCase()}}
                  </div>
                </div>  
               
         
          </div>
    </div>

   <!--  <div  class="titulo-destaque" *ngIf="result.tracks && result.tracks.items.length > 0">
      Músicas encontradas para "{{query.value}}"
    </div>
    <div class="resultado-pesquisa" *ngIf="result.tracks && result.tracks.items.length > 0">
        <div class="card" (click)="navegar(item.id)" *ngFor="let item of result.tracks.items">
                <div class="card-imagem">
                  <img src="{{item.album.images[0].url}}" alt="">
                </div>
                <div class="card-titulo">
                    {{item.name.toLowerCase()}}
                </div>
                <div class="card-artista">
                  {{item.artists[0].name.toLowerCase()}}
                </div>
          </div>
    </div> -->

  </section>
 

  <section class="resultado" *ngIf="!query.value || query.value.length < 0" >

    <div class="titulo-destaque" *ngIf="resultadoUltimaPesquisa.albums.items.length  > 0 ">
      Álbuns buscados recentemente
    </div>
    <div class="resultado-pesquisa" *ngIf="resultadoUltimaPesquisa.albums.items.length > 0">
        <div class="card"  routerLinkActive="active" (click)="navegar(item.id)" *ngFor="let item of resultadoUltimaPesquisa.albums.items">
              <div class="card-imagem">
                <img src="{{item.images[0].url}}" alt="">
              </div>
              <div class="card-info">
                <div class="card-titulo">
                  {{item.name.toLowerCase()}}
                </div>
                <div class="card-artista">
                  {{item.artists[0].name.toLowerCase()}}
                </div>
              </div>  
          </div>
    </div>

  <!--   <div  class="titulo-destaque" *ngIf="resultadoUltimaPesquisa.tracks.items.length > 0 ">
      Músicas buscadas recentemente
    </div>
    <div class="resultado-pesquisa" *ngIf="resultadoUltimaPesquisa.tracks.items.length > 0 ">
        <div class="card"  (click)="navegar(item.id)" *ngFor="let item of resultadoUltimaPesquisa.tracks.items">
                <div class="card-imagem">
                  <img src="{{item.album.images[0].url}}" alt="">
                </div>
                <div class="card-titulo">
                    {{item.name.toLowerCase()}}
                </div>
                <div class="card-artista">
                  {{item.artists[0].name.toLowerCase()}}
                </div>
          </div>
    </div> -->

  </section>